.manage-plugin-table {
  width: 100%;
  border: 1px;
  border-color: #000000;
  //border-style: solid;

  td, th {
    width: 33%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  td:first-child, th:first-child {
    text-align: left;
    padding-left: 10px;
  }
  
  tr:first-child {
    border: 1px;
    border-bottom-style: solid;
  }
}