<div>
  <h1 class="plugininfo-h1">
    {{pluginInfoCtrl.info.name}}
  </h1>
  
  <h3>
    Plugin Information
  </h3>
  
  <table class="plugininfo-info">
    <tr>
      <td>
        version
      </td>
      <td>
        {{pluginInfoCtrl.info.version}}
      </td>
    </tr>
    <tr>
      <td>
        description
      </td>
      <td>
        {{pluginInfoCtrl.info.description}}
      </td>
    </tr>
    <tr>
      <td>
        author
      </td>
      <td>
         <any ng-repeat="author in pluginInfoCtrl.info.author">
           <span> {{author.name}} ({{author.email}})</span> <br>
         </any>
      </td>
    </tr>
    <tr>
      <td>
        homepage
      </td>
      <td>
        {{pluginInfoCtrl.info.homepage}}
      </td>
    </tr>
    <tr>
      <td>
        keywords
      </td>
      <td>
        {{pluginInfoCtrl.info.keywords}}
      </td>
    </tr>
    <tr>
      <td>
        license
      </td>
      <td>
        {{pluginInfoCtrl.info.license}}
      </td>
    </tr>
  </table>
  
  
  <h3 ng-show="pluginInfoCtrl.configAvailable">
    Plugin Config
  </h3>
  
  <table class="plugininfo-table" ng-show="pluginInfoCtrl.configAvailable">
    <tr>
      <th>
        Name
      </th>
      <th>
        Value
      </th>
    </tr>
    <tr ng-repeat="item in pluginInfoCtrl.config">
      <td>
        {{ item.name }}
      </td>
      <td>
        <input ng-model="item.value" class="form-control">
      </td>
    </tr>
  </table> 
  
  <button class="btn btn-warning plugininfo-save" ng-show="pluginInfoCtrl.configAvailable"
    ng-click="pluginInfoCtrl.save()">
    Speichern
  </button>
</div>