<div class="main-login">
  <any class="login-h">
    {{ "welcome.message" | translate }}
  </any>
  <any class="login-lang-box">
    <a class="login-lang-link" ng-click="loginCtrl.changeLanguageTo('de')"
      ng-class="{'bold': loginCtrl.lang == 'de'}">DE</a> 
    |
    <a class="login-lang-link" ng-click="loginCtrl.changeLanguageTo('en')"
      ng-class="{'bold': loginCtrl.lang == 'en'}">EN</a>
  </any>
  
  <table class="login-table">
    <tr>
      <td>
        <div class="bold login-header">
          {{ "signin" | translate }}
        </div>
        <div>
          <div class="form-group">
              <label>{{ "email" | translate }}</label>
              <input type="text" class="form-control nearly-full-width">
          </div>
          <div class="form-group">
              <label>{{ "password" | translate }}</label>
              <input type="password" class="form-control nearly-full-width">
          </div>
  
          <button type="button" class="btn btn-warning">
            {{ "signin" | translate }}
          </button>
        </div>
      </td>
      <td>
        
      </td>
      <td>
        <div class="bold login-header">
          {{ "signup" | translate }}
        </div>
        <div>
          <div class="form-group">
              <label>{{ "email" | translate }}</label>
              <input type="text" class="form-control">
          </div>
          <div class="form-group">
              <label>{{ "password" | translate }}</label>
              <input type="password" class="form-control" ng-model=loginCtrl.pw1
                ng-change="loginCtrl.comparePasswords()">
          </div>
          <div class="form-group">
              <label>{{ "repeat.password" | translate }}</label>
              <input type="password" class="form-control" ng-model=loginCtrl.pw2
                ng-class="{'input-error': loginCtrl.invalidPW2}"
                ng-change="loginCtrl.comparePasswords()">
          </div>
  
          <button type="button" class="btn btn-warning"
            ng-disabled="loginCtrl.invalidPW2">
            {{ "signup" | translate }}
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>