<div class="main-login">
  <any class="login-h">
    {{ "welcome.message" | translate }}
  </any>
  <any class="login-lang-box">
    <a class="login-lang-link" ng-click="loginCtrl.changeLanguageTo('de')"
      ng-class="{'bold': loginCtrl.lang == 'de'}">DE</a> 
    |
    <a class="login-lang-link" ng-click="loginCtrl.changeLanguageTo('en')"
      ng-class="{'bold': loginCtrl.lang == 'en'}">EN</a>
  </any>
  
  <table class="login-table">
    <tr>
      <td>
        <div class="bold login-header">
          {{ "signin" | translate }}
        </div>
        <div>
          <div class="form-group">
              <label>{{ "email" | translate }}</label>
              <input type="text" class="form-control nearly-full-width" ng-model="loginCtrl.log_email">
          </div>
          <div class="form-group">
              <label>{{ "password" | translate }}</label>
              <input type="password" class="form-control nearly-full-width" ng-model="loginCtrl.log_pw">
          </div>
  
          <button type="button" class="btn btn-warning" ng-click="loginCtrl.login()">
            {{ "signin" | translate }}
          </button>
          
          <div>
            <div ng-show="loginCtrl.loginFailure === 401" class="alert alert-danger login-alert">
              {{ "login.failure.not_found" | translate }}
            </div>
            <div ng-show="loginCtrl.loginFailure === 402" class="alert alert-danger login-alert">
              {{ "login.failure.password_incorrect" | translate }}
            </div>
            <div ng-show="loginCtrl.loginFailure === 403" class="alert alert-danger login-alert">
              {{ "login.failure.max_attemps" | translate }}
            </div>
          </div>
        </div>
      </td>
      <td>
        
      </td>
      <td>
        <div class="bold login-header">
          {{ "signup" | translate }}
        </div>
        <div>
          <div class="form-group">
              <label>{{ "email" | translate }}</label>
              <input type="text" class="form-control" ng-model="loginCtrl.reg_email">
          </div>
          <div class="form-group">
              <label>{{ "password" | translate }}</label>
              <input type="password" class="form-control" ng-model="loginCtrl.reg_pw1"
                ng-change="loginCtrl.compareRegPasswords()">
          </div>
          <div class="form-group">
              <label>{{ "repeat.password" | translate }}</label>
              <input type="password" class="form-control" ng-model="loginCtrl.reg_pw2"
                ng-class="{'input-error': loginCtrl.invalidPW2}"
                ng-change="loginCtrl.compareRegPasswords()">
          </div>
  
          <button type="button" class="btn btn-warning"
            ng-disabled="loginCtrl.invalidPW2"
            ng-click="loginCtrl.signup()">
            {{ "signup" | translate }}
          </button>
          
          <any ng-show="loginCtrl.regFailed" class="alert alert-danger login-alert">
              registration failed
          </any>
        </div>
      </td>
    </tr>
  </table>
</div>